<nav class="navbar navbar-expand-lg bg-light ">
  <!-- Brand -->
  <a class="navbar-brand header-img" routerLink="/">
    <img src="../../assets/logonew.png" alt="Logo" style="width:120px;">
  </a>
  <a class="navbar-brand header-logo">RajRoop Print<br>Management</a>

  <!-- Toggler/collapsibe Button -->
  <div class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#collapsibleNavbar"
    aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <svg class="openicon" viewBox="0 0 26 18" width="1em" height="1em">
      <path d="M2.453 1.964h22m-22 7h22m-22 7h22" fill="none" fill-rule="evenodd" stroke="#007bff" stroke-linecap="round"
        stroke-width="3"></path>
    </svg>
    <svg class="closeicon" viewBox="0 0 19 19" width="1em" height="1em">
      <path d="M2.25 2.062l14.142 14.142m-14.238.59L16.639 2.31" fill="none" fill-rule="evenodd" stroke="#007bff"
        stroke-linecap="round" stroke-width="3"></path>
    </svg>
  </div>
  <!-- Navbar Links -->
  <div class="collapse navbar-collapse first" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link header-text" routerLink="/" style="padding: 0px 20px 0 20px">Home</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link header-text dropbtn dropdown-toggle" id="navbardrop" data-toggle="dropdown" style="padding: 0px 20px 0 20px">
          About
        </a>
        <div class="caret-wrapper">
          <div class="caret"></div>
        </div>
        <div class="dropdown-content">
          <a class="dropdown-item" routerLink="about#1">COMPANY</a>
          <a class="dropdown-item" href="#">LEADERSHIP</a>
          <a class="dropdown-item" href="#">AWARDS</a>
          <a class="dropdown-item" href="#">MEMBERSHIPS</a>
          <a class="dropdown-item" href="#">CARRERS</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link header-text dropbtn dropdown-toggle" id="navbardrop" data-toggle="dropdown" style="padding: 0px 20px 0 20px">
          Services
        </a>
        <div class="caret-wrapper">
          <div class="caret"></div>
        </div>
        <div class="dropdown-content">
          <a class="dropdown-item" href="#">PROMOTIONAL</a>
          <a class="dropdown-item" href="#">PACKING</a>
          <a class="dropdown-item" href="#">PRINT</a>
          <a class="dropdown-item" href="#">CREATIVE</a>
          <a class="dropdown-item" href="#">CARRERS</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link header-text dropbtn dropdown-toggle" id="navbardrop" data-toggle="dropdown" style="padding: 0px 20px 0 20px">
          Innovations
        </a>
        <div class="caret-wrapper">
          <div class="caret"></div>
        </div>
        <div class="dropdown-content">
          <a class="dropdown-item" href="#">INHABITABLE</a>
          <a class="dropdown-item" href="#">MARKET VALUE</a>
          <a class="dropdown-item" href="#">RESOURCES</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link header-text" routerLink="contact" style="padding: 0px 20px 0 20px">Contact</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse second" id="collapsibleNavbar">
    <ul class="navbar-nav" style="padding-left: 30px;">
      <br>
      <hr class="dropdown-divider">
      <li class="nav-item linkD">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <hr class="dropdown-divider">
      <li class="nav-item linkA">
        <a class="nav-link" href="#">ABOUT
          <div class="arrow-down ml-auto"></div>
        </a>
        <hr class="dropdown-divider">
        <div class="linkItemA">
          <a class="dropdown-item" routerLink="about#1">COMPANY</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">LEADERSHIP</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">AWARDS</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">MEMBERSHIPS</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">CARRERS</a>
          <hr class="dropdown-divider">
        </div>
      </li>

      <li class="nav-item linkB">
        <a class="nav-link" href="#">SERVICES
          <div class="arrow-down ml-auto"></div>
        </a>
        <hr class="dropdown-divider">
        <div class="linkItemB">
          <a class="dropdown-item" routerLink="about#1">COMPANY</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">LEADERSHIP</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">AWARDS</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">MEMBERSHIPS</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">CARRERS</a>
          <hr class="dropdown-divider">
        </div>
      </li>
      <li class="nav-item linkC">
        <a class="nav-link" href="#">INNOVATIONS
          <div class="arrow-down ml-auto"></div>
        </a>
        <hr class="dropdown-divider">
        <div class="linkItemC">
          <a class="dropdown-item" routerLink="about#1">INHABITABLE</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">MARKET VALUE</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="#">RESOURCES</a>
          <hr class="dropdown-divider">
        </div>
      </li>
      <li class="nav-item linkE">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
      <hr class="dropdown-divider">
    </ul>
  </div>

</nav>