<nav class="navbar navbar-expand-lg bg-light sticky-bottom">
  <div class="container">
    <div class="row large-screen">
      <div class="col-sm-3">
        <h6>
          <img src="../../assets/download.jpg">Designed in India</h6>
        <div class="nav-link row">

          <p class="about">RajRoop Print Management is meticously desgined to offer the
            most competitive pricing on print buying.</p>
          <br>
          <p class="copyright">Copyright 2018 RajRoop Print Management Pvt Ltd. All rights reserved. <a class="terms">Terms
              of Service</a></p>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <h6>RajRoop Print </h6>
        <div class="nav-link row">
          <a routerLink='/'>Home</a>
        </div>
        <div class="nav-link row">
          <a [routerLink]="['/services']" fragment="promotional">Services</a>
        </div>
        <div class="nav-link row">
          <a [routerLink]="['/innovations']" fragment="inhabitable">Innovations</a>
        </div>
        <br>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <h6>Comapny</h6>
        <div class="nav-link row">
          <a [routerLink]="['/about']" fragment="company">About</a>
        </div>
        <div class="nav-link row">
          <a [routerLink]="['/contact']" fragment="contact">Contact</a>
        </div>
        <br>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2 four">
        <h6>Support</h6>
        <div class="nav-link row">
          <i class="fa fa-facebook"></i>
          <a>Facebook</a>
        </div>
        <div class="nav-link row">
          <i class="fa fa-twitter"></i>
          <a>Twitter</a>
        </div>
        <div class="nav-link row">
          <i class="fa fa-linkedin"></i>
          <a>Linkedin</a>
        </div>
        <div class="nav-link row">
          <i class="fa fa-google-plus"></i>
          <a>GooglePlus</a>
        </div>
        <div class="nav-link row">
          <i class="fa fa-skype"></i>
          <a>Skype</a>
        </div>
      </div>
    </div>

    <div class="row small-screen">
      <div class="col-md-6">
        <h6>
          <img src="../../assets/download.jpg">Designed in India</h6>

        <div class="nav-link row">
          <p class="about">RajRoop Print Management is meticously desgined to offer the
            most competitive pricing on print buying.</p>
          <br>
          <p class="copyright">Copyright 2018 RajRoop Print Management Pvt Ltd. All rights reserved. <a class="terms">Terms
              of Service</a></p>
        </div>
      </div>

      <div class="col-md-6">
        <ul class="navbar-nav linkA">
          <h6 class="nav-item">RajRoop Print
            <div class="arrow-down ml-auto"></div>
          </h6>
          <hr class="dropdown-divider">
          <div class="linkItemA">
            <a class="nav-link" routerLink="">Home</a>
            <a class="nav-link" [routerLink]="['/services']" fragment="promotional">Services</a>
            <a class="nav-link" [routerLink]="['/innovations']" fragment="inhabitable">Innovations</a>
            <br>
          </div>
        </ul>

        <ul class="navbar-nav linkB">
          <h6 class="nav-item">Company
            <div class="arrow-down ml-auto"></div>
          </h6>
          <hr class="dropdown-divider">
          <div class="linkItemB">
            <a class="nav-link" [routerLink]="['/about']" fragment="company">About</a>
            <a class="nav-link" [routerLink]="['/contact']" fragment="contact">Contact</a>
            <br>
          </div>
        </ul>

        <ul class="navbar-nav linkC">
          <h6 class="nav-item">Support
            <div class="arrow-down ml-auto"></div>
          </h6>
          <hr class="dropdown-divider">
          <div class="linkItemC">
            <a class="nav-link">
              <i class="fa fa-facebook"></i>
              Facebook</a>

            <a class="nav-link">
              <i class="fa fa-twitter"></i>
              Twitter</a>

            <a class="nav-link">
              <i class="fa fa-linkedin"></i>
              Linkedin</a>

            <a class="nav-link">
              <i class="fa fa-google-plus"></i>
              GooglePlus</a>
            <a class="nav-link">
              <i class="fa fa-skype"></i>
              Skype</a>

            <br>
          </div>
        </ul>
      </div>
    </div>

  </div>
</nav>