<div class="container-fluid">
  <div class="row">

    <div class="section" id="about">
      <h2>EXPECTION YOURS, EFFORTS YOURS</h2>
      <div class="divider"></div>
      <br>
      <p>“The customers perception is your reality. What they think about your products ,
        MATTER.
        If you dont put your customers perception first, THE GAME IS OVER.!”
        <br>
        <br> --We Believe
      </p>
      <br>
      <a class="btn btn-primary" [routerLink]="['/about']" fragment="company">Find Out More</a>
    </div>

    <div class="section" id="services">
      <h2>We've got what you need!</h2>
      <div class="divider"></div>
      <p class="text-muted mb-0">Customer service shouldn’t just be a department, it should be the entire
        company.!
        <br>
        <br> The single most important thing is to make people happy. If you are making people happy, as a side
        effect,
        they will be happy to open up their wallets and pay you.</p>
      <a class="btn btn-primary" [routerLink]="['/services']" fragment="services">Know more!</a>
    </div>

    <div class="section" id="servicebox">
      <h2>At Your Service</h2>
      <div class="divider"></div>
      <br>
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mx-auto">
            <i class="fa fa-4x fa-diamond text-primary"></i>
            <h6>Promotional Products</h6>
            <p class="text-muted mb-0">We Have variety of promotional products to make your business successful!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mx-auto">
            <i class="fa fa-4x fa-paper-plane text-primary"></i>
            <h6>Packing</h6>
            <p class="text-muted mb-0">A Part of Packing and Managing the product in order to easy transport, We have
              better solution for you!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mx-auto">
            <i class="fa fa-4x fa-newspaper-o text-primary"></i>
            <h6>Print</h6>
            <p class="text-muted mb-0">We have world wide variety of printing option with new Technologies and
              Innovative optiaons!
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mx-auto">
            <i class="fa fa-4x fa-heart text-primary"></i>
            <h6>Creative</h6>
            <p class="text-muted mb-0">Creativity is the part of our business, we look at the requiremnt of customer
              for better understanding!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="servicebox">
      <div class="row no-gutters popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <img class="img-fluid" src="../../../assets/portfolio/thumbnails/1.jpg">
          <h5 class="text-primary">Creativity</h5>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-fluid" src="../../../assets/portfolio/thumbnails/2.jpg" alt="">
          <h5 class="text-primary">Economy</h5>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-fluid" src="../../../assets/portfolio/thumbnails/3.jpg" alt="">
          <h5 class="text-primary">Technology</h5>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-fluid" src="../../../assets/portfolio/thumbnails/4.jpg" alt="">
          <h5 class="text-primary">Interior</h5>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-fluid" src="../../../assets/portfolio/thumbnails/5.jpg" alt="">
          <h5 class="text-primary">Packing</h5>
        </div>
        <div class="col-lg-4 col-sm-6">
          <img class="img-fluid" src="../../../assets/portfolio/thumbnails/6.jpg" alt="">
          <h5 class="text-primary">Innovations</h5>
        </div>
      </div>
    </div>

    <div class="section" id="innovations">
      <h2 class="mb-4">Your Requirements, Our Innovations!</h2>
      <div class="divider"></div>
      <a class="btn btn-light" [routerLink]="['/innovations']" fragment="inhabitable">Know more!</a>
    </div>


    <div class="section" id="contactus">
      <h2>MEET OUR DEDICATED TEAM</h2>
      <div class="divider"></div>
      <p class="text-muted text-center mb-0">Our professional team here at RR is ready to help you in any way we can
        with your print management projects.</p>
      <br>
      <p class="text-muted mb-0">We have experienced designers, project managers, suppliers and buyers whose one goal
        is to effectively manage your print project at the lowest cost and at the highest quality.</p>
      <br>
      <p class="text-muted text-center mb-0">Contact us today to meet us in person and Find out how we can help you.</p>
      <button class="button" [routerLink]="['/contact']" fragment="contact">CONTACT US</button>
    </div>

  </div>
</div>