<div class="container-fluid">
  <div class="row">
    <img class="img-fluid" src="../../../../assets/company.jpg">
    <div class="section" id="company">
      <h2>COMPANY</h2>
      <div class="divider"></div>
      <p class="text-muted mb-0">RR Print Management Pvt. Ltd has been the leading procurement partner in the field of outsourcing industry
        since
        starting of our carrier. We have 100% rate of customer satisfaction and on time delievry with desired result
        and
        expected value. We are more focused towards innovation, automation,real time and client driven. This is what
        makes
        RR Print Management Pvt. Ltd as a leading company in the market.
        <br>
        <br>
        Our team consults Businesses to use innovative Solutions. Our team has wide experience in the field of
        Print, POS, Packing, Promotional products and their approaches. We take on clients selectively and advise them
        on
        value
        creating solutions. We are into Integrated and Innovative Technologies. We believe in advice that leads to
        results
        and are willing to engage deeply and sustainably with our clients. We consult prospects and client with end to
        end solutions.
      </p>
      <br>
      <h5>MISSION</h5>
      <br>
      <br>
      <p class="text-muted mb-0">To Achieve The Highest Levels Of Customer Satisfaction Through Timely Delivery And Integration Of Cutting-Edge
        Technology, Solutions And Work With Our Clients On Innovations, Technology, Adaptation And Integration
        Throughout
        The Corporation.</p>
      <br>
      <h5>VISION</h5>
      <br>
      <br>
      <p class="text-muted mb-0">To Be An Established Leader In The Field Of IT Services, Research and Development, System Integration , And To
        Provide Our Clients With 'Leading Edge' Products And Solutions. We wish to be most preferred IT service
        provider
        for budding startups.</p>
      <br>
      <h5>VALUES</h5>
      <br>
      <br>
      <ul>
        <li>
          <p class="text-muted mb-0">Our primary business is client satisfaction</p>
        </li>
        <li>
          <p class="text-muted mb-0">Continues Innovations and Technologies Improvemnt</p>
        </li>
        <li>
          <p class="text-muted mb-0">Participation Empowerment & Sustainability</p>
        </li>
      </ul>
      <hr class="my-4">
    </div>

    <div class="section" id="leadership">
      <h2>LEADERSHIP</h2>
      <div class="divider"></div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-box mt-5 mx-auto">
            <img src="../../../assets/profile.png">
            <h3>Person 1</h3>
            <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-box mt-5 mx-auto">
            <img src="../../../assets/profile.png">
            <h3>Person 2</h3>
            <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-box mt-5 mx-auto">
            <img src="../../../assets/profile.png">
            <h3>Person 3</h3>
            <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-box mt-5 mx-auto">
            <img src="../../../assets/profile.png">
            <h3>Person 4</h3>
            <p class="text-muted mb-0">You have to make your websites with love these days!</p>
          </div>
        </div>
      </div>
      <hr class="my-4">
    </div>

    <div class="section" id="awards">
      <h2>AWARDS</h2>
      <div class="divider"></div>
      <p class="text-faded mb-5">RR Print Management Pvt. Ltd has been the leading procurement partner in the field
        of
        outsourcing industry since starting of our carrier. We have 100% rate of customer satisfaction and on time
        delievry
        with desired result and expected value.!</p>
      <hr class="my-4">
    </div>

    <div class="section" id="acknowledgements">
      <h2>ACKNOWLEDGEMENTS</h2>
      <div class="divider"></div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-3x fa-diamond text-primary mb-3 sr-icons"></i>
            <br>
            <a>Products</a>
            <p class="text-muted mb-0">We have variety of promotional products to make your business successful!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-3x fa-paper-plane text-primary mb-3 sr-icons"></i>
            <br>
            <a>Packing</a>
            <p class="text-muted mb-0">A Part of Packing and Managing the product in order to easy transport, We have better solution for you!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-3x fa-newspaper-o text-primary mb-3 sr-icons"></i>
            <br>
            <a>Print</a>
            <p class="text-muted mb-0">We have world wide variety of printing option with new Technologies and Innovative options!
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-3x fa-heart text-primary mb-3 sr-icons"></i>
            <br>
            <a>Creative</a>
            <p class="text-muted mb-0">Creativity is the part of our business, we look at the requiremnt of customer
              for
              better understanding!</p>
          </div>
        </div>
      </div>
      <hr class="my-4">
    </div>

    <div class="section" id="contactus">
      <h2>INNOVATION WITH PURPOSE</h2>
      <div class="divider"></div>
      <p class="text-muted text-center mb-0">Unlock the value in your marketing execution</p>
      <button class="button" [routerLink]="['/contact']" fragment="contact">CONTACT US</button>
    </div>
  </div>
</div>