<div class="container-fluid">
  <div class="row">
    <img class="img-fluid" src="../../../assets/innovations.jpg">
    <div class="section" id="inhabitable">
      <h2>INNOVATIONS</h2>
      <div class="divider"></div>
      <div>
        <p class="text-muted mb-0" class="text-muted mb-0">Innovation: as integral as expertise to marketing execution.
          Brands stand out as market leaders when they
          explore and adopt innovative ways to respond to trends and competitor activity.
          <br>
          <br> Technology is developing at a rapid pace and changing many established methods of accomplishing tasks
          and completing projects. The print and design industries are excellent examples of areas seeing these changes
          and innovations. To remain competitive and profitable, both large and small print business owners are
          encouraged to educate themselves on the latest developments in their industries, particularly in software and
          machine features. Some recent print technology innovations worth noting include high-speed digital printing
          on demand, three-dimensional printing, hybrid print processes and the increased efficiency of digital print
          workflows.
        </p>
        <br>
        <h5>The Rise of 3D Printing</h5>
        <br>
        <br>
        <p class="text-muted mb-0" class="text-muted mb-0">Printing is no longer confined to flat sheets of paper, and
          the same mechanical processes can now be applied
          to rendering three-dimensional objects from raw material. &nbsp;&nbsp;&nbsp;
          <a data-toggle="collapse" class="js-scroll-trigger" data-target="#readmorePromotional" onclick="scrollWin()">Read
            More</a>
        </p>
        <div id="readmorePromotional" class="collapse">
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <p class="text-muted mb-0" class="text-muted mb-0">This innovation has caught significant attention
                within the print and design industries, and many
                print business owners have taken note of the creative as well as the manufacturing possibilities.
                Rendering replacement appliance and machine parts is now a service found in some print companies whose
                owners would not have conceived of the idea in the past. Larger scale commercial 3D printing also has
                the potential for innovations in the trade show exhibit specialty field. As the demand for visually
                unique display booths increases, design companies that utilize 3D printing for booth pieces are in a
                great position to draw this type of exhibitor clientele.
              </p>
            </div>
          </div>
        </div>
        <br>
        <h5>Software Innovations for Print Businesses</h5>
        <br>
        <br>
        <p class="text-muted mb-0" class="text-muted mb-0">Graphic design software for print projects now has a wider
          range of features and tools, allowing for easier
          workflows, better file compatibility and more collaboration between designers in different geographic
          locations.&nbsp;&nbsp;&nbsp;
          <a data-toggle="collapse" class="js-scroll-trigger" data-target="#readmorePackingnPrint" onclick="scrollWin()">Read
            More</a>
        </p>
        <div id="readmorePackingnPrint" class="collapse">
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <p class="text-muted mb-0" class="text-muted mb-0">New design software suites now include
                three-dimensional tools that allow designers to create parts
                and objects without the need for extensive engineering knowledge. Even two-dimensional printed projects
                can now be completed with more cost-effective methods, thanks to the greater flexibility of modern
                design software. The need for film media and offset print machines is in a steady decline as more of
                the same results can be
                accomplished electronically with software workflows. The learning curve of these design suites may be
                somewhat
                steeper in the beginning for new users, but print company owners who invest in them are seeing the
                benefits in
                terms of higher project quality in less time.</p>
            </div>
          </div>
        </div>
        <br>
        <h5>Hybrid Print Technologies</h5>
        <br>
        <br>
        <p class="text-muted mb-0" class="text-muted mb-0">Despite the fast pace of technological innovation, print and
          design businesses do not have to switch to
          purely digital processes overnight. They can instead integrate both digital and offset processes thanks to
          computer-to-print-plate automation.&nbsp;&nbsp;&nbsp;
          <a data-toggle="collapse" class="js-scroll-trigger" data-target="#readmoreCreative" onclick="scrollWin()">Read
            More</a>
        </p>
        <div id="readmoreCreative" class="collapse">
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <p class="text-muted mb-0" class="text-muted mb-0">Despite the fast pace of technological innovation,
                print and design businesses
                do not have to switch to purely digital processes overnight. They can instead integrate both digital
                and offset processes thanks to computer-to-print-plate automation. This process allows the user to send
                finished image files to electronic plates that are able to recognize them, using technologies similar
                to those found in desktop scanners. Due to improvements in these print plates, hybrid processes can
                also accommodate more complex print projects with many different colors and finishes. Along with
                digital printing, software improvements and 3D developments, these print industry innovations are
                helping this field evolve to meet changing 21st-century demands.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr class="my-4">
    </div>

    <div class="section" id="marketvalue">
      <h2>Field Of Innovation, Marketing & Resource</h2>
      <div class="divider"></div>
      <div>
        <p class="text-muted mb-0" class="text-muted mb-0">RR Print Management Pvt Ltd has taken the initiative in
          order to accept all the new technology to grow up.
          In Order to market need and requiremnt RR Print Management Pvt Ltd has taken major role.
          <br>
          <br> Since 2001, the MIT Technology Review has released their list of the 10 most important technological
          innovations
          that emerged each year. The editors selected each item based on its potential to change the world. Previous
          years
          lists included epigenetics, wireless sensor networks, grid computing, additive manufacturing, smart watches,
          and
          mobile 3-D. The 2014 list is just as exciting.</p>

        <div class="row">
          <div class="col-lg-4">
            <img src="../../../assets/sustainability1.png" width="250px" height="250px">
          </div>
          <div class="col-lg-8">
            <p class="text-muted mb-0">Moving towards sustainability is also a social challenge that entails
              international and national law,
              urban planning and transport, local and individual lifestyles and ethical consumerism. Ways of living
              more sustainably can take many forms from reorganizing living conditions (e.g., ecovillages,
              eco-municipalities and sustainable cities), reappraising economic sectors (permaculture, green building,
              sustainable agriculture), or work practices (sustainable architecture), using science to develop new
              technologies (green technologies, renewable energy and
              sustainable fission and fusion power), or designing systems in a flexible and reversible manner,and
              adjusting individual lifestyles that conserve natural resources.</p>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-8">
            <p class="text-muted mb-0">Market value is the price an asset would fetch in the marketplace. Market value
              is also commonly used to
              refer to the market capitalization of a publicly-traded company, and is obtained by multiplying the
              number of its outstanding shares by the current share price. Market value is easiest to determine for
              exchange-traded instruments such as stocks and futures, since their market prices are widely disseminated
              and easily available, but is a little more challenging to ascertain for over-the-counter instruments like
              fixed income securities. However, the greatest difficulty in determining market value lies in estimating
              the value of illiquid assets like real estate and businesses, which may necessitate the use of real
              estate appraisers and business valuation experts respectively.</p>
          </div>
          <div class="col-lg-4">
            <img width="300px" height="220px" src="../../../assets/market_value.jpg">
            <h4 class="mb-4">MARKET VALUE</h4>
          </div>
        </div>
      </div>
      <br>
      <hr class="my-4">
    </div>

    <div class="section" id="resources">
      <h2>RESOURCES</h2>
      <div class="divider"></div>
      <div>
        <p class="text-muted mb-0">Our position as a market leader means always seeking information, staying up to
          date, and sharing what we
          learn and develop. Clients are the main beneficiaries of our leadership, as well as suppliers, vendors,
          advocates, and competitors. From technology to the environment, we’re engaged in every relevant area.
          Information and experience become part of all we deliver. From partner solutions to published insights, we
          produce resources that benefit others in our industry, and beyond.
        </p>
        <br>
      </div>
      <br>
      <hr class="my-4">
    </div>

    <div class="section" id="contactus">
      <h2>MEET OUR DEDICATED TEAM</h2>
      <div class="divider"></div>
      <p class="text-muted text-center mb-0">Our professional team here at RR is ready to help you in any way we can
        with your print management projects.</p>
      <br>
      <p class="text-muted mb-0">We have experienced designers, project managers, suppliers and buyers whose one goal
        is to effectively manage your print project at the lowest cost and at the highest quality.</p>
      <p class="text-muted text-center mb-0">Contact us today to meet us in person and Find out how we can help you.</p>
      <button class="button" [routerLink]="['/contact']" fragment="contact">CONTACT US</button>
    </div>

  </div>
</div>