<div class="container-fluid">
  <div class="row">
    <img src="../../../assets/services.jpg">

    <div class="section">
      <h2>SERVICES</h2>
      <div class="divider"></div>
      <p>RR Print Management Pvt. Ltd has been the leading procurement partner in the field of outsourcing industry
        since starting of our carrier. We have variety of services that we provide to our customers, We have 100% rate
        of customer satisfaction and on time delievry with desired result and expected value.!
        <br>
        <br>
        Our team consults Businesses to use innovative Solutions. Our team has wide experience in the field of Print,
        POS, Packing, Promotional products and their approaches. We take on clients selectively and advise them on
        value creating solutions. We are into Integrated and Innovative Technologies. We believe in advice that leads
        to results and are willing to engage deeply and sustainably with our clients. We consult prospects and client
        with end to end solutions.
      </p>
      <br>
      <hr class="my-4">
    </div>

    <div class="section" id="promotional">
      <h2>PROMOTIONAL</h2>
      <div class="divider"></div>
      <br>
      <p>We Provide a type of marketing communication used to inform or persuade target audiences of the relative
        merits of a product, service, brand or issue. The aim of promotion is to increase awareness, create interest,
        generate sales or create brand loyalty. It is one of the basic elements of the market mix, which includes the
        four P's: price, product, promotion, and place. &nbsp;&nbsp;&nbsp;
        <a data-toggle="collapse" class="js-scroll-trigger" data-target="#readmorePromotional" style="text-decoration:underline"
          onclick="scrollWin()">Read More</a>
      </p>
      <div id="readmorePromotional" class="collapse">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center" style="height:auto">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3>Promotional</h3>
            </div>
          </div>
          <div class="col-lg-9 col-md-6">
            <ul>
              <li class="innerDetail">
                <h6>Advertising</h6>
                <p class="innerDetail"> You can advertise your product,
                  service or brand in newspapers, radio, television, magazines, outdoor signage and online. Learn more
                  about how to make your advertising successful.</p>
              </li>
              <li class="innerDetail">
                <h6>Publicity</h6>
                <p class="innerDetail"> Created by sending media releases
                  to print and broadcasting media, giving interviews to the media and from word-of-mouth. Learn more
                  about
                  public relations.</p>

              </li>
              <li class="innerDetail">
                <h6>Short-term sales promotions</h6>
                <p class="innerDetail"> Market your product or service
                  using coupons, competitions and contests. Find out about the benefits of coupon websites.</p>
              </li>
              <li class="innerDetail">
                <h6>Direct marketing</h6>
                <p class="innerDetail"> Involves sending letters, emails, pamphlets and brochures to individual target
                  clients, often followed by personal selling or telemarketing. Learn more about direct marketing.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <hr class="my-4">
    </div>

    <div class="section" id="packingandprint">
      <h2>PACKING & PRINT</h2>
      <div class="divider"></div>
      <br>
      <p>We can help you with characterisation of printing surfaces, colour management, test printing, print
        evaluation, image analysis and implementing analysis methods. We have in-depth expertise in printing and how to
        achieve the desired print quality for packaging and paper. At RISE Bioeconomy paper, board, ink and printing
        press producers can come together with converters and printers within the context of our printed communication
        research projects. We carry out research and development directly alongside industrial
        application.&nbsp;&nbsp;&nbsp;
        <a data-toggle="collapse" class="js-scroll-trigger" data-target="#readmorePackingnPrint" style="text-decoration:underline"
          onclick="scrollWin()">Read More</a>
      </p>

      <div id="readmorePackingnPrint" class="collapse">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3>Packing and Print</h3>
            </div>
          </div>
          <div class="col-lg-9 col-md-6">
            <ul>
              <li class="innerDetail">
                <h6>Screen Printing</h6>
                <p class="innerDetail"> The idea behind screen prints is
                  basically a screened material such as silk or nylon is stretched across a frame and fastened into
                  place.
                  A stencil, cut my hand or made electronically, is placed over that screen to block out non printing
                  areas.</p>
              </li>
              <li class="innerDetail">
                <h6>Digital Printing</h6>
                <p class="innerDetail"> Laser and toner method uses a
                  laser
                  to charge the paper in certain areas which will attract toner of cymk colours to it. It then goes
                  through
                  a fuser which melts the toner into the paper. Magnetic works in much the same way but instead of
                  electrical
                  charges, it uses magnetic ones.</p>

              </li>

              <li class="innerDetail">
                <h6>Gravure</h6>
                <p class="innerDetail"> This is a method usually used in
                  printing long runs of magazines. Much like flexography, gravure printing has a cylinder that picks up
                  ink in tiny etched grooves and places it on the paper. The difference is, gravure doesn't use a
                  plate.
                  Its grooves are actually etched into the cylinder. </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <hr class="my-4">
    </div>

    <div class="section" id="creative">
      <h2>CREATIVE</h2>
      <div class="divider"></div>
      <br>
      <p>The advancement of digital technologies has profoundly impacted the ways in which information is conveyed to
        consumers and has given people the ability to produce documents on their own, thereby limiting reliance on
        traditional print companies.&nbsp;&nbsp;&nbsp;
        <a data-toggle="collapse" class="js-scroll-trigger" data-target="#readmoreCreative" style="text-decoration:underline"
          onclick="scrollWin()">Read More</a>
      </p>

      <div id="readmoreCreative" class="collapse">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3>Creative</h3>
            </div>
          </div>
          <div class="col-lg-9 col-md-6">
            <ul>
              <li class="innerDetail">
                <h6>Plastisol Ink</h6>
                <p class="innerDetail"> This is the standard type of ink
                  used for screen printing. We can transform full color images into beautiful garment prints or simply
                  do 1 or 2 colors depending on the design.</p>
              </li>
              <li class="innerDetail">
                <h6>Flocking</h6>
                <p class="innerDetail">This can be added to a garment design using several methods. The first method is
                  as a transfer. This type of flocking is the flattest of the options because it is applied to the
                  garment via a heat seal press.
                </p>
              </li>
              <li class="innerDetail">
                <h6>Sublimation </h6>
                <p class="innerDetail"> This printing is a high-fashion garment printing process technique. This
                  technique brilliantly showcases full-color designs has a soft hand feel and beautiful fabric draping.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <hr class="my-4">
    </div>

    <div class="section" id="contactus">
      <h2>INNOVATION WITH PURPOSE</h2>
      <div class="divider"></div>
      <p class="text-center">Unlock the value in your marketing execution</p>
      <button class="button" [routerLink]="['/contact']" fragment="contact">CONTACT US</button>
    </div>

  </div>
</div>